.notification {
  position: fixed;
  bottom: 24px;
  left: 48px;
  padding: 16px 24px;
  border-radius: 6px;
  transform: none;
  opacity: 1;
  transition: all 250ms cubic-bezier(0.215, 0.61, 0.355, 1);
  background: #002b3c;
  pointer-events: none;
  z-index: 9999999;
}
.notification:not(.visible) {
  transform: translateY(80px);
  opacity: 0;
}
.notification .text {
  font-size: 15px;
  margin: 0;
  color: #fafafa;
}

@media (max-width: 460px) {
  .notification {
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(100vw - 48px);
  }

  .notification:not(.visible) {
    transform: translateX(-50%) translateY(80px);
    opacity: 0;
  }
}